body {background-color:#b3b9ff;
	font-family:"Yu Mincho";}
.updown {margin-top: 100px;
	       margin-bottom: 100px}
.right {margin-right: 465px;}
.left{margin-left:-465px;}

h1 {
	font-size : 2.5em;
	padding: 0.4em 0.5em;
	background: #f4f4f4;
	border-left: solid 10px #4fe075;
	 border-bottom: solid 6px #d7d7d7;
	color : #2e0224;
}
h2{
	font-size : 2.0em;
	padding: 0.4em 0.5em;
	background: #ffa1a1;
	border-left: solid 10px #4fe075;
	 border-bottom: solid 6px #b37070;
	color : #000845;
}
h3 {color: #2e0224;
font-size : 1.7em;
	font-weight : bold;}
p {color : #2e0224;
	font-size : 1.6em;
	font-weight : bold;}

a { font-size : 1em;}

body {text-align: center;}
.btn {
  border-radius: 8px;
  background-color: white;
  padding: 10px;
  font-weight : bold;
  text-decoration: none;
  color: #2e0224;}
.toc-005 {
    margin-bottom: 30px;
    border-radius: 3px;
    background-color: #f2f2f2;
}

.toc-005 div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px 0;
    background-color: #2589d0;
    color: #fff;
    font-weight: 600;
    font-size: 1.1em;
}

.toc-005 label::after {
    margin-left: 7px;
    font-weight: 500;
    font-size: .7em;
    color: #fff;
    content: "[開く]";
    cursor: pointer;
}

.toc-005:has(:checked) label::after {
    content: "[閉じる]";
}

.toc-005 input {
    display: none;
}

.toc-005 ol {
    list-style-type: disc;
    margin: 0;
    overflow: hidden;
}

.toc-005 > ol {
    height: 0;
}

.toc-005:has(:checked) > ol {
    height: auto;
    padding: 1em 1em 1em 3em;
}

.toc-005 ol ol {
    margin-top: 5px;
    padding-left: 1.1em;
}

.toc-005 li {
    padding: 5px 0;
    font-weight: 600;
}

.toc-005 ol ol li {
    font-weight: 500;
    font-size: .9em;
}

.toc-005 a {
    color: #333;
    text-decoration: none;
}
div {display: inline-block;
}

.page_top_btn {
position: fixed;
bottom: 10px;
right: 10px;
font-weight: bold;
padding: 0.7em;
text-align: center;
background: rgb(255, 0, 0);
color: #fff;
transition: 0.3s0;
}

.page_top_btn:hover {
background: rgb(255, 0, 0, 0.8);
color: rgb(255, 255, 255, 0.8);
}

.content.white {
height: 500px;
background-color: #fff;
}

.content.gray {
height: 500px;
background-color: #eee;
}
#contents{
  height:600px;
}
h1{
  text-align:center;
}
.sankaku,
.text{
  text-align:center;
}
#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 14px;
  line-height: 1;
  z-index: 99;
}
#page-top a {
  background: #ab101b;
  text-decoration: none;
  color: #fff;
  width: 60px;
  padding: 28px 5px;
  text-align: center;
  display: block;
  border-radius: 90px;
  opacity: 0.9;
  transition: all .3s ease;
}
#page-top a:hover {
  text-decoration: none;
  opacity: .5;
}
.pagination-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    list-style-type: none;
    padding: 0;
    font-size: 1.2rem;
}

.pagination-3 a {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
    border-bottom: 2px solid #f2f2f2;
    color: #333;
    text-decoration: none;
}

.pagination-3 .current a {
    border-bottom: 2px solid #2589d0;
    pointer-events: none;
}

.pagination-3 .prev a,
.pagination-3 .next a {
    gap: 0 4px;
    width: auto;
    padding: .5em .8em;
    line-height: 1;
}

.pagination-3 .prev a::before,
.pagination-3 .next a::after {
    display: inline-block;
    transform: rotate(45deg);
    width: .3em;
    height: .3em;
    content: '';
}

.pagination-3 .prev a::before {
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
}

.pagination-3 .next a::after {
    border-top: 1px solid #333;
    border-right: 1px solid #333;
}